{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
IT
{% endblock %}


{% block contenido %}

<!-- Begin bread crumbs -->
<nav class="bread-crumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="bread-crumbs-list">
					<li>
						<a href="{% url 'Inicio' %}">Inicio</a>
						<i class="material-icons md-18">chevron_right</i>
					</li>
					<li>
						<a href="{% url 'Servicios' %}">Servicios</a>
						<i class="material-icons md-18">chevron_right</i>
					</li>
					<li><a href="#!">Adecco IT</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav><!-- End bread crumbs -->

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading heading-center">
					<h1>Adecco IT</h1>
				</div>
				<div class="content">
					<div class="img-style">
						<img src="assets/img/subheader-corporate.png" alt="">
					</div>
					<p>Reduce costos, acelera tu agenda tecnológica y
						aprovecha la experiencia en atracción de talento especializado en IT</p>
					<img src="{% static 'assets/img/it2.jpg' %}" align="right">
					<h5>Aplicamos los mejores resultados para
						tu negocio a través de tres elementos clave:</h5>



					<ul>
						<h3>Productividad:</h3>
						<p>Obtén con Adecco indicadores clave de RH y/o de gestión de los <br>procesos y
							acuerdos de nivel de servicio, que te permiten transformar <br>tus costos fijos en variables.
						</p>
						<h3>Flexibilidad:</h3>
						<img src="{% static 'assets/img/it.jpg' %}" align="right">
						<p>Tú decides qué procesos externalizas y cuáles son tus objetivos.
							<br>Adecco se encarga de gestionarlos agilizando la atracción <br>de talento y planificando
							acertadamente.</p>
							
						<h3>Eficiencia</h3>
						<p>
							Nuestros equipos especializados son expertos en aplicar Metodologías <br>de Mejora Continua a 
							los procesos e introducir las soluciones <br>tecnológicas más innovadoras para superar tus expectativas.
						</p>
						
					</ul>
					


				</div>
			</div>
		</div>
	</div>
</div>



<a class="bff d-none d-md-block" href="{% url 'Contactanos' %}">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="bff-container">
					<p>!!Te estamos Esperando!!</p>
					<div class="btn btn-border btn-small">
						<span>Contactenos!!</span>
						<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
							<use xlink:href="assets/img/sprite.svg#arrow-right"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>

{% endblock %}