{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
Healthcare
{% endblock %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Adecco Healthcare</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Adecco Healthcare</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/subheader-corporate.png" alt="">
								</div>
								<p>A través de acciones dirigidas a la promoción y protección de la salud, 
									y la prevención de accidentes de trabajo y riesgos profesionales.</p>
								<img src="{% static 'assets/img/med.jpg' %}" align="right">
								<h5>Servicios que ofrecemos:</h5>

							
								
								<ul>
									<h3>Medicina del Trabajo.</h3>  
									<p>Especialidad médica encargada de la prevención 
										y asistencia de la <br> salud de las personas dentro del ámbito laboral.</p> 
										<img src="{% static 'assets/img/medicina.jpg' %}" align="right">            
									<h3>Servicio de Medicina.</h3>
									<p>El objeto de este servicio es la conservación de la salud del <br>trabajador, 
										prevención y atención de accidentes de trabajo, de <br>enfermedades profesionales y rehabilitación.</p>
										
									<h3>Servicio de Fisioterapia.</h3> 
									
									<p>La terapia física es una profesión del área de la salud que estudia <br>el 
										movimiento corporal humano, el cual está involucrado en <br>toda actividad humana, incluyendo el trabajo.</p>                                  																			
									<h3>Servicio de Medicina Preventiva.</h3>
									<p>Es un enfoque proactivo para el cuidado del paciente y que se 
										<br>detecte temprano para que el paciente tenga la mejor<br> posibilidad de recuperación y obtener una salud óptima.</p>
									   
								</ul>
									    
								
							</div>
						</div>
					</div>
				</div>
			</div>

			
			

			

		<a class="bff d-none d-md-block" href="{% url 'Contactanos' %}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p>!!Te estamos Esperando!!</p>
                    <div class="btn btn-border btn-small">
                        <span>Contactenos!!</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}