{% extends "app/base.html" %}
{% load static %}
{% block titulo %}
Sales & Marketing
{% endblock %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li>
									<a href="{% url 'Servicios' %}">Servicios</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Adecco Sales & Marketing</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<h1>Adecco Sales & Marketing</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="{% static 'assets/img/sales.jpg' %}" alt="">
								</div>
								<p>Nos convertimos en tu mejor opción estratégica asumiendo la 
									operación del punto de venta, mediante servicios como:</p>

									<h3>
									Servicio de oficina y administración
									</h3>
								<p>
									La nueva ley de Subcontratación arrancó a partir del día 1 de septiembre del 2021, y como parte de ésta, Adecco se renueva con nuevos Servicios Especializados.

									Uno de éstos, es Adecco Office, ¿pero de qué se trata este esquema de subcontratación de servicios especializados? 
									En este artículo te explicaremos de qué se trata 
									este servicio que impacta de forma directa actividades del área de Recursos Humanos.
								</p>
								<right>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/3-dohhKajMs" title="YouTube video player" frameborder="0" 
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</right>
								
								


							
								
								
									    
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Begin Pricing -->
			<section class="section section-bgc">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading"></div>
								<h2>Tipos de servicios</h2>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin pricing item -->
							<div class="pricing-item item-style">
								<header class="pricing-item-header">
									<div class="pricing-item-heading"></div>
									<div class="pricing-item-price"><small>1. Workplace Management</small></div>
								</header>
								<div class="pricing-item-h">
									<div class="pricing-item-content">
										<ul class="pricing-item-list">
											<p>
												Servicio especializado enfocado en encontrar la mejor solución en el ámbito de Workplace, a través de reclutamiento externo.
											</p>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Recepción.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Conmutador.
											</li>
											<li>
												<i class="material-icons md-24">check</i>
												Mensajería.
											</li>
											<li>
												<i class="material-icons md-24">check</i>
												Mantenimiento.
											</li>
											<li>
												<i class="material-icons md-24">check</i>
												Mundo del deporte.
											</li>
										</ul>
									</div>
									<footer class="pricing-item-footer">
										<a href="https://adecco.com.mx/servicios-especializados/sales-marketing/" class="btn btn-large btn-with-icon btn-wide ripple">
											<span>Mas Informacion!!</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
										</a>
									</footer>
								</div>
							</div><!-- End pricing item -->
						</div>
					
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin pricing item -->
							<div class="pricing-item item-style">
								<header class="pricing-item-header">
									<div class="pricing-item-heading"></div>
									<div class="pricing-item-price"><small>2. Staff 
										<br>especializado</small> </div>
								</header>
								
								<div class="pricing-item-h">
									<div class="pricing-item-content">
										<ul class="pricing-item-list">
											<p>
												Soluciones para externalizar diferentes procesos y actividades que conllevan la administración de staff especializado.
											</p>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Recursos Humanos.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Compras.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Mercadotecnia.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Abastecimiento.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Jurídico.
											</li>
										</ul>
									</div>
									<footer class="pricing-item-footer">
										<a href="https://adecco.com.mx/servicios-especializados/sales-marketing/" class="btn btn-large btn-with-icon btn-wide ripple">
											<span>Mas Informacion!!</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
										</a>
									</footer>
								</div>
							</div><!-- End pricing item -->
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin pricing item -->
							<div class="pricing-item item-style">
								<header class="pricing-item-header">
									<div class="pricing-item-heading"></div>
									<div class="pricing-item-price"><small>3. Centros de <br>
										servicio</small></div>
								</header>
								<div class="pricing-item-h">
									<div class="pricing-item-content">
										<ul class="pricing-item-list">
											<p>
												Externalizamos procesos de negocio de centros de servicio establecidos al interior de tus instalaciones.
												
											</p>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Comercio electrónico.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Shared Services.
											</li>
											<li class="active">
												<i class="material-icons md-24">check</i>
												Gestión de cobranza.
											</li>
										
										</ul>
									</div>
									<footer class="pricing-item-footer">
										<a href="https://adecco.com.mx/servicios-especializados/sales-marketing/" class="btn btn-large btn-with-icon btn-wide ripple">
											<span>Mas Informacion!!</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
										</a>
									</footer>
								</div>
							</div><!-- End pricing item -->
						</div>
					</div>
				</div>
			</section><!-- End Pricing -->

			

			

		<a class="bff d-none d-md-block" href="{% url 'Contactanos' %}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p>!!Te estamos Esperando!!</p>
                    <div class="btn btn-border btn-small">
                        <span>Contactenos!!</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

{% endblock %}